<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>陌筹 | MoChou</title>
    <!-- 搜索引擎优化 -->
    <meta name="description" content="陌筹 MoChou 众筹 平台">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link rel="icon" type="image/x-icon" href="/mochou/Public/img/favicon.ico">
    <!-- 加载Bootstrap样式 -->
    <link rel="stylesheet" type="text/css" href="/mochou/Public/css/bootstrap.css">
    <!-- 加载Flat-UI样式 -->
    <link rel="stylesheet" type="text/css" href="/mochou/Public/css/flat-ui.css">

    <!-- 加载Remodal样式 -->
    <link rel="stylesheet" type="text/css" href="/mochou/Public/css/jquery.remodal.css">
    <!-- 加载FormValidation样式 -->
    <link rel="stylesheet" type="text/css" href="/mochou/Public/css/formValidation.css">

    <!-- 加载陌筹自定义样式 -->
    <link rel="stylesheet" type="text/css" href="/mochou/Public/css/mochou.css">
    <!-- HTML5-shim用于IE6-8浏览器支持HTML5元素, 其他所有的JavaScript在文件尾部 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        function changeToInput(){
            var text = document.getElementById("text-title");
           var input = document.getElementById("input-title");
          //  alert("in");
   
               text.style.display = 'none';
               input.style.display ='block';
                document.getElementById("input-block").focus();
          
        }

        function changeToText(input_block){
             var text = document.getElementById("text-title");
           var input = document.getElementById("input-title");

           if(input_block.value != ''){

                        text.innerHTML = input_block.value;
               }
             //  alert(input_block.value);
              text.style.display = 'block';
               input.style.display ='none';

        }

         function back(){
            window.location.href="/mochou/index.php/Home/Case/view";
        }

        function enterPress(input_block){
            if(event.keyCode ==13){
               var text = document.getElementById("text-title");
               var input = document.getElementById("input-title");
                var input_block = document.getElementById("input-block");
               if(input_block.value != ''){

                            text.innerHTML = input_block.value;
                   }
                 //  alert(input_block.value);
                  text.style.display = 'block';
                   input.style.display ='none';
            return false;
            }
        }
    </script>
</head>
<body>
    <div class="mc_background remodal-bg">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/mochou/index.php/Home/Index">陌筹</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <form class="navbar-form navbar-left" action="#" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="搜索..."/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn" title="搜索">
                                        <span class="fui-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/mochou/index.php/Home/User/">
                                <span class="fui-user"></span>
                                <span style="margin-left: 4px;">{$_SESSION['nickname']}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mochou/index.php/Home/Case">
                                <span class="fui-new" title="发起项目"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fui-bubble" title="消息通知"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/mochou/index.php/Home/User/">
                                <span class="fui-gear" title="设置"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/mochou/index.php/Home/User/logout">
                                <span class="fui-exit" title="登出"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top:85px">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                   <div class="log-left-list">
                        <button class="btn btn-primary btn-embossed " style="width:100%"  onclick="back()">返回项目</button>
                        <hr/>
                        <volist name="list" id="vo">
                          <div class="log-item">
                            <div class="log-item-title" style="text-align:left;width:100%">
                                <img src="/mochou/Public/img/point.png" >
                                &nbsp;
                                <a style=" cursor:pointer;color:#000000;">
                                    <span>{$vo['title']}</span>
                                </a>
                            </div>
                            <div style="text-align:right;width:100%;color:#aaa;font-size:14px" >{$vo['time']}</div>
                        </div>

                        </volist>
                    </div>
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="log-initiate">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <a id="text-title"style="margin:0;color:#000000;font-size:30px;font-weight:600" >{$diary['title']}</a>
                                <span>&nbsp;</span>
                                <a style="cursor:pointer" href="/mochou/index.php/Home/Log/show_modify_log?diaryId={$diary['id']}">
                                    <span style="vertical-align:middle"class="fui-new" ></span>
                                    <span > <strong >修改</strong>
                                    </span>
                                </a>
                                <a style="cursor:pointer" href="/mochou/index.php/Home/Log/delete_log?diaryId={$diary['id']}">
                                    <span style="vertical-align:middle"class="fui-trash" ></span>
                                    <span > <strong >删除</strong>
                                    </span>
                                </a>
                            </div>

                

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">发起人：{$nickname}</div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">发起时间：{$diary['time']}</div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <hr / >
                                <div>{$diary['body']}</div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <p class="demo-panel-title" style="font-size:20px">
                                        <strong>标签</strong>
                                    </p>
                                    <div>
                                    <volist name="label" id="vo">
                                    <span>
                                        <button class="btn btn-primary tags">{$vo['value']}</button>
                                    </span>
                                    </volist>
                                    </div>
                                    </br>
                                    <div style="text-align:center">
                                        <button type="submit"class="btn btn-danger" style="width:40%">支持</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Flat-UI必要的JavaScript插件 -->
    <script type="text/javascript" src="/mochou/Public/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/mochou/Public/js/flat-ui.js"></script>
    <script type="text/javascript" src="/mochou/Public/js/application.js"></script>
    <!-- 加载和配置formValidation -->
    <script type="text/javascript" src="/mochou/Public/js/formValidation/formValidation.js"></script>
    <script type="text/javascript" src="/mochou/Public/js/formValidation/bootstrap.js"></script>

</body>
</html>